<?xml version="1.0"?>
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>EjemploF</filter-name>
		<filter-class>mx.ipn.escom.wad.filters.EjemploF</filter-class>
	</filter>
	<filter>
		<filter-name>EjemploFA</filter-name>
		<filter-class>mx.ipn.escom.wad.filters.EjemploFA</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EjemploF</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EjemploFA</filter-name>
		<servlet-name>EjemploA</servlet-name>
		<url-pattern>/EjemploB</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>mx.ipn.escom.wad.listeners.EjemploK</listener-class>
	</listener>
	<servlet>
		<servlet-name>EjemploA</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploA</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EjemploB</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EjemploC</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploC</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EjemploCA</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploCA</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EjemploD</servlet-name>
		<display-name>EjemploD</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploD</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EjemploE</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploE</servlet-class>
		<init-param>
			<param-name>a</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>b</param-name>
			<param-value>23</param-value>
		</init-param>
		<init-param>
			<param-name>c</param-name>
			<param-value>Hola</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploF</display-name>
		<servlet-name>EjemploF</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploF</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploG</display-name>
		<servlet-name>EjemploG</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploG</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploG1</display-name>
		<servlet-name>EjemploG1</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploG1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploH</display-name>
		<servlet-name>EjemploH</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploH</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploH1</display-name>
		<servlet-name>EjemploH1</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploH1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploI</display-name>
		<servlet-name>EjemploI</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploI</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploI1</display-name>
		<servlet-name>EjemploI1</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploI1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EjemploJ</display-name>
		<servlet-name>EjemploJ</servlet-name>
		<servlet-class>mx.ipn.escom.wad.servlets.EjemploJ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EjemploA</servlet-name>
		<url-pattern>/EjemploA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploB</servlet-name>
		<url-pattern>/EjemploB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploC</servlet-name>
		<url-pattern>/EjemploC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploCA</servlet-name>
		<url-pattern>/EjemploCA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploD</servlet-name>
		<url-pattern>/EjemploD</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploE</servlet-name>
		<url-pattern>/EjemploE</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploF</servlet-name>
		<url-pattern>/EjemploF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploG</servlet-name>
		<url-pattern>/EjemploG</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploG1</servlet-name>
		<url-pattern>/EjemploG1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploH</servlet-name>
		<url-pattern>/EjemploH</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploH1</servlet-name>
		<url-pattern>/EjemploH1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploI</servlet-name>
		<url-pattern>/EjemploI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploI1</servlet-name>
		<url-pattern>/EjemploI1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EjemploJ</servlet-name>
		<url-pattern>/EjemploJ</url-pattern>
	</servlet-mapping>
</web-app>
