<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>FilterIP</filter-name>
  	<display-name>FilterIP</display-name>
  	<description></description>
  	<filter-class>puntos.FilterIP</filter-class>
  </filter>
  <filter>
  	<filter-name>FiltroPrivado</filter-name>
  	<display-name>FiltroPrivado</display-name>
  	<description></description>
  	<filter-class>puntos.FiltroPrivado</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterIP</filter-name>
  	<url-pattern>/FilterIP</url-pattern>
  </filter-mapping>
    <filter-mapping>
  	<filter-name>FilterIP</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
    <filter-mapping>
    	<filter-name>FiltroPrivado</filter-name>
    	<url-pattern>/ServletPrivado</url-pattern>
    </filter-mapping>
    <servlet>
    	<servlet-name>ServletLogin</servlet-name>
    	<display-name>ServletLogin</display-name>
    	<description></description>
    	<servlet-class>puntos.ServletLogin</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ServletLogueado</servlet-name>
    	<display-name>ServletLogueado</display-name>
    	<description></description>
    	<servlet-class>puntos.ServletLogueado</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Sesion</servlet-name>
    	<display-name>Sesion</display-name>
    	<description></description>
    	<servlet-class>puntos.Sesion</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Logout</servlet-name>
    	<display-name>Logout</display-name>
    	<description></description>
    	<servlet-class>puntos.Logout</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ServletPrivado</servlet-name>
    	<display-name>ServletPrivado</display-name>
    	<description></description>
    	<servlet-class>puntos.ServletPrivado</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ServletPublico</servlet-name>
    	<display-name>ServletPublico</display-name>
    	<description></description>
    	<servlet-class>puntos.ServletPublico</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ServletLogin</servlet-name>
    	<url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletLogueado</servlet-name>
    	<url-pattern>/ServletLogueado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Sesion</servlet-name>
    	<url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletPrivado</servlet-name>
    	<url-pattern>/ServletPrivado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletPublico</servlet-name>
    	<url-pattern>/ServletPublico</url-pattern>
    </servlet-mapping>
</web-app>
